<div class='w3-container '>
    <div class="w3-content">
        <div class="w3-center w3-padding-large">
            <h4 class="w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">SWN Character Gen</h4>
        </div>
    </div>

    <app-npc></app-npc>
</div>


