textarea{
  width: 100%;
  height: 100%;
  background-color: transparent;
  color:white;
  border: none;
}
button{
  margin: 0px 4px;
  min-width: 300px;
}
.w3-modal{
  padding: 0;
}
.w3-modal h1, h2 , h3{
  color:White
}

.w3-modal .content{
  width: 100%;
  background-color: #4c6284;
}