<div class="w3-content">
  <h1 class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">{{note.name}}</h1>
</div>
<div class='w3-container ' fxLayout="row wrap" *ngIf="note">
  <div class="w3-black w3-row-padding" fxFlex="50%" fxFlex.lt-md="100%">
    <textarea id='editNote' (input)='setHeight($event.target.id)' [(ngModel)]="note.content"></textarea>
  </div>
  <div class="w3-row-padding" fxFlex="50%" fxFlex.lt-md="100%">
    <div innerHTML="{{mdRender.render(note.content)}}"></div>
  </div>
</div>
<div class="w3-padding-64" fxLayout="row" fxLayoutAlign="center" >
  <button class='w3-button w3-dark-grey'[disabled]="!note && !note.content" (click)="updateNote()">save</button>
  <button class='w3-button w3-dark-grey'[disabled]="!note && !note.content" (click)="deleteConfirm = true">delete</button>
</div>

<div class="w3-modal" [ngStyle]="{ 'display': (deleteConfirm?'block':'')}">
  <div  style="height: 100%" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="content w3-padding-32" fxLayout="row wrap" fxLayoutAlign="center center">
      <h3 fxFlex="100%" class="w3-center">Are you sure?</h3>
      <div fxFlex="100%" class="w3-padding-32" fxLayout="row" fxLayoutAlign="center" >
        <button class='w3-button w3-dark-grey'[disabled]="!note && !note.content" (click)="deleteNote(note.name);deleteConfirm = false">delete</button>
        <button class='w3-button w3-dark-grey'[disabled]="!note && !note.content" (click)="deleteConfirm = false">cancel</button>
      </div>
    </div>
  </div>
</div>


