/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '/assets/css/w3.css';

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}


.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input{
  overflow: visible;
  background: transparent;
  border: none;
  border-bottom: 1px solid #97bceb;
  min-width: 300px;
}
