<div class='w3-content w3-padding-large' fxLayout="row wrap" fxLayoutAlign="center">
    <div class="w3-black w3-padding-large" fxFlex="75%" fxFlex.lt-md="100%">
        <div fxLayout="row wrap">
            <h6>Class</h6>
            <select fxFlex="100%" [(ngModel)]="selectedClass" id="selectedClass">
                <option value="" selected>Random</option>
                <option *ngFor="let c of classList" [value]="c">{{c}}</option>
            </select>
        </div>
        <div fxLayout="row wrap">
            <h6>Background</h6>
            <select fxFlex="100%" [(ngModel)]="selectedBackground" id="selectedBackground">
                <option value="" selected>Random</option>
                <option *ngFor="let b of backgroundList" [value]="b">{{b}}</option>
            </select>
        </div>
        <div fxLayout="row wrap">
            <h6>Level</h6>
            <input class="w3-white" type="number" aria-valuemin="0" aria-valuemax="20" fxFlex="100%" [(ngModel)]="selectedLevel" id="selectedLevel">
        </div>

        <div fxFlex="100%" class="w3-padding-64" fxLayout="row" fxLayoutAlign="center" >
            <button class='w3-button w3-dark-grey' (click)="generate()">Generate</button>
            <button class='w3-button'(click)="levelUp()">lvl up</button>
        </div>

    </div>


</div>

<div class="w3-content characters" fxLayout="row wrap">
    <div fxFlex="25%" class="list" fxLayout="row wrap">
        <button fxFlex="100%" *ngFor="let npc of npcs" [ngClass]="{'w3-black': npc == selectedNpc}" class='w3-button w3-white' (click)="selectedNpc = npc">{{npc.name}}</button>
    </div>
    <div fxFlex="75%" class="characters w3-black w3-padding-large">
        <div *ngIf="selectedNpc">
            <pre>{{selectedNpc.weapons | json}}</pre>
            <table width='100%'>
                <tr>
                    <th>Name</th>
                    <th>Level</th>
                    <th>HP</th>
                    <th>Class</th>
                    <th>Atk Bonus</th>
                    <th>credit</th>
                </tr>
                <tr>
                    <td>{{selectedNpc.name}}</td>
                    <td>{{selectedNpc.level}}</td>
                    <td contenteditable="true">{{selectedNpc.hp}}</td>
                    <td>{{selectedNpc.class}}</td>
                    <td>{{selectedNpc.savingThrows.ab}}</td>
                    <td>{{selectedNpc.credit}}</td>
                </tr>
            </table>

            <table width='100%'>
                <tr>
                    <th>strength</th>
                    <th>intelligence</th>
                    <th>wisdom</th>
                    <th>dexterity</th>
                    <th>constitution</th>
                    <th>charisma</th>
                </tr>
                <tr>
                    <td>{{selectedNpc.attributes.strength}}</td>
                    <td>{{selectedNpc.attributes.intelligence}}</td>
                    <td>{{selectedNpc.attributes.wisdom}}</td>
                    <td>{{selectedNpc.attributes.dexterity}}</td>
                    <td>{{selectedNpc.attributes.constitution}}</td>
                    <td>{{selectedNpc.attributes.charisma}}</td>
                </tr>
            </table>

            <table width='100%'>
                <tr>
                    <th>physical</th>
                    <th>metal</th>
                    <th>wisdom</th>
                    <th>evasion</th>
                    <th>tech</th>
                    <th>luck</th>
                </tr>
                <tr>
                    <td>{{selectedNpc.savingThrows.physical}}</td>
                    <td>{{selectedNpc.savingThrows.metal}}</td>
                    <td>{{selectedNpc.savingThrows.wisdom}}</td>
                    <td>{{selectedNpc.savingThrows.evasion}}</td>
                    <td>{{selectedNpc.savingThrows.tech}}</td>
                    <td>{{selectedNpc.savingThrows.luck}}</td>
                </tr>
            </table>

            <div fxLayout='row wrap'>
             <span fxFlex="25%" *ngFor="let key of objectKeys(selectedNpc.skills)"> 
                {{ selectedNpc.skills[key].skill }}:  {{ selectedNpc.skills[key].level }}
              </span>
            </div>    
      
        </div>
    </div>
</div>


