<h3 class="w3-center w3-padding-64">CREATE NEW</h3>
<div class="w3-content w3-container w3-padding-64">
  <div class="w3-center">
    <input [(ngModel)]="name" #ctrl="ngModel" required>
    <button class='w3-button w3-dark-grey' [disabled]="!ctrl.valid" (click)="createNote()">Create</button>
  </div>
</div>

<div class="bgimg-2 w3-display-container w3-opacity-min"></div>

<h3 class="w3-center">VIEW</h3>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3"  *ngFor="let name of notes">
      <p class="note" (click)="viewNote(name)">{{ name }}</p>
    </div>
  </div>
</div>

<div *ngIf="currentNote">
  <app-view-note [name]="currentNote"></app-view-note>
</div>