<app-navbar></app-navbar>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">Garage CNC</span>
  </div>
</div>

<h3 class="w3-center w3-padding-64">What we do/Pricing</h3>
<div class="w3-content w3-container w3-padding-64">
  <div class="w3-center">
    <p>We do small one of jobs for the average guy at home.</p>
    <p>$100/hr of machine time + materials</p>
  </div>
</div>

<div class="bgimg-2 w3-display-container w3-opacity-min"></div>

<h3 class="w3-center">About</h3>
<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m3" >
      <p class="note">Ever wanted to own a CNC? I did, but it's expensive, so to help with the cost i rent it out</p>
    </div>
  </div>
</div>